﻿@model FriendCodes.Models.User
@{
    ViewBag.Title = "Delete";
}

<div class="col-md-5 col-md-offset-5 mx-auto">
    <h2>Deleting User</h2>
    <p>Are you sure you want to delete this user?</p>
    <p>This cannot be undone.</p>
    <p>Deleting the following User and ALL their information:</p>
    <p><strong>@Html.DisplayFor(model => model.User_IGN)</strong></p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="text-right mt-5">
            <input type="submit" class="btn btn-danger" value="Delete" />
            @Html.ActionLink("Cancel", "Index")
        </div>
    }
</div>

