﻿@model FriendCodes.Models.User
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
    @Html.HiddenFor(model => model.User_ID)
        <div class="form-group">
            @Html.LabelFor(model => model.User_IGN, htmlAttributes: new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.User_IGN, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.User_IGN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Friend_Code, htmlAttributes: new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Friend_Code, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Friend_Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserActive, htmlAttributes: new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.EnumDropDownListFor(model => model.UserActive, "How Active are you?", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserActive, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-5">
                <input type="submit" value="Save Changes" />
            </div>
        </div>
    </div>      /*End of form*/
}