﻿@model IEnumerable<FriendCodes.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<div class="text-right">
    @Html.ActionLink("+ Add A User", "Create")
</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.User_IGN)</th>
            <th>@Html.DisplayNameFor(model => model.Friend_Code)</th>
            <th>@Html.DisplayNameFor(model => model.UserActive)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model)
        {
            <tr>
                <td>@Html.ActionLink(row.User_IGN, "UserInfo", new { id = row.User_ID })</td>
                <td>@Html.DisplayFor(rowItem => row.Friend_Code)</td>
                <td>@Html.DisplayFor(rowItem => row.UserActive)</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = row.User_ID })</td>
                <td>@Html.ActionLink("Delete ", "Delete", new { id = row.User_ID })</td>
            </tr>
        }
    </tbody>
</table>
