﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Friend Code Management</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-dark bg-dark fixed-top navbar-expand-md">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar">&#x2630;</span>
                </button>
                @Html.ActionLink("Friend Code Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="mr-3 nav-item">@Html.ActionLink("About", "Index", "Home/About")</li>
                    <li class="mr-3 nav-item">@Html.ActionLink("Users", "Index", "User")</li>
                    <li class="mr-3 nav-item">@Html.ActionLink("Units", "Index", "AvailableUnit")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content mt-5 border border-top-0 border-bottom-0 px-5 px-lg-0">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Imzan Khan- Passion Project </p>
        </footer>
    </div>

 
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
