﻿@model FriendCodes.Models.Available_Unit
@{
    ViewBag.Title = "Delete";
}
<div class="col-md-5 col-md-offset-5 mx-auto">
    <h2>Deleting Unit</h2>
    <p>Are you sure you want to delete this unit?</p>
    <p>This cannot be undone.</p>
    <p>Deleting the following Unit and ALL their information:</p>
    <strong>@Html.DisplayFor(model => model.Unit_Name)</strong>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="text-right mt-5">
            <input type="submit" class="btn btn-danger" value="Delete" />
            @Html.ActionLink("Cancel", "Index")
        </div>
    }
</div>