﻿@model IEnumerable<FriendCodes.Models.Available_Unit>
@{
    ViewBag.Title = "Index";
}

<h2>Friend Units</h2>

<div class="text-right">
    @Html.ActionLink("+ Add A Unit", "Add")
</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Unit_Name)</th>
            <th>@Html.DisplayNameFor(model => model.Rarity)</th>
            <th>@Html.DisplayNameFor(model => model.Build)</th>
            <th>@Html.DisplayNameFor(model => model.User.User_IGN)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model)
        {
        <tr>
            <td>@Html.DisplayFor(rowItem => row.Unit_Name)</td>
            <td>@Html.DisplayFor(rowItem => row.Rarity)</td>
            <td>@Html.DisplayFor(rowItem => row.Build)</td>
            <td>@Html.ActionLink(row.User.User_IGN, "UserInfo" , new { id = row.User.User_ID })</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = row.AvailableUnit_ID })</td>
            <td>@Html.ActionLink("Delete ", "Delete", new { id = row.AvailableUnit_ID })</td>
        </tr>
        }
    </tbody>
</table>

