﻿@{
    ViewBag.Title = "About";
}
<h1 class="mb-5">@ViewBag.Message</h1>

<h3>What is The FFBE Friend Code Manager?</h3>
<p class=""> The FFBE Friend Code Manager is a tool used for the management of 
    Users in the Japanese RPG(Role Playing Game): Final Fantasy Brave Exvius(FFBE)</p>

<h3>How do players share their information currently?</h3>
<p class="">Friend Codes are used to connect players with each other, and are 9 Unique digits used to identify players</p>

<h3>Why is a Friend Code Manager needed?</h3>
<p class="">Currently Friend Codes are shared only through online forums, such as Reddit and IGN; thus, looking
    for Users can get tedious as there is no means of organizing all this information
    </p>

<h3>Sample Template of Reddit Friend Code Thread</h3>
<ul>
    <li>**ID:** 111,111,111</li>
    <li>**IGN:** John Doe</li>
    <li>**Rank:** 100</li>
    <li>**Lead(s):** 1800 ATK 6★ Enhanced Olive</li>
    <li>**Activity:** Minutely</li>
    <li>**Looking for:** Pre-Nerf 6★ Randi</li>
    <li>**Other:** I have every trust rewards.</li>
</ul>
<p><em>Taken from: https://www.reddit.com/r/FFBraveExvius/comments/ahm5oq/gl_friend_codes_megathread_011919/ </em></p>