﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<
<address>
    <strong>Contact Me At:</strong><a href="mailto:ikhan5@lakeheadu.ca">ikhan5@lakeheadu.ca</a><br />
</address>