﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FFBE Friend Code Manager</h1>
    <p class="lead">Find more Friends to share in your passion of Brave Exvius!</p>
    <p><a href="~/User/Index" class="btn btn-primary btn-lg">Find Friends! &raquo;</a></p>
    <hr class="my-3" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add your Friend Code to the list!</h2>
        <p><a class="btn btn-dark btn-sm" href="~/User/Create">Add Friend Code &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View a List of Shared Units</h2>
        <p><a class="btn btn-dark btn-sm" href="~/AvailableUnit/Index">Find A Unit &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Why Use the Friend Code Manager?</h2>
        <p><a class="btn btn-dark btn-sm" href="~/Home/About">Learn more &raquo;</a></p>
    </div>
</div>